.home {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 20px;
  padding-top: 0;

  @media screen and (max-width: 768px) {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}

.gallery {
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color:  #f6f6f6;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
  }
}